name: Deploy Squad Docs

on:
  push:
    branches:
      - main # Change this to your default branch if it's different

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18 # Use Node.js 18 here

      - name: Install dependencies
        run: npm install

      - name: Build site
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: ./build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
     - name: Get Build Artifacts
       uses: actions/download-artifact@v4
       with:
         name: artifact # same as in build stage
         path: ./build
         
     - name: Deploy to GitHub Pages
       uses: peaceiris/actions-gh-pages@v3
       with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         publish_dir: ./build
